.corpo{
    background: #ffffff;
    padding: 20px;
    text-align: center;
    padding-right: 240px;
}

body img{
    width: 280px;
    border: 10px solid #acacac98;
}

h1{
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    padding-left: 25px;
}