.apresentacao{
    background-color:#686868;
    padding: 20px;
    text-align: center;
    padding-right: 240px;
}

body img{
    width: 300px;
    border: 10px solid #acacac98;
}

.texto_principal{
    padding-top: 20px;
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    font-size: 20px;
    width: 50%;
    height: 50px;
}

h1{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.box_texto_principal{
    margin-top: 10px;
}

.texto_principal p{
    padding-top: 8px;
}