.apresentacao{
    background-color:#686868;
    padding: 20px;
    text-align: center;
    padding-right: 240px;
}

body img{
    width: 300px;
    border: 10px solid #acacac98;
}

.box_texto_principal{
    padding-top: 20px;
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    font-size: 19px;
    width: 50%;
}

h1{
    font-size: 33px;
    font-weight: bold;
    font-style: italic;
}

.texto_principal{
    margin-top: 10px;
}

.texto_principal p{
    padding-top: 8px;
}

.portifolio{
    padding: 30px 8%;
    text-align: left;
    background-color: red;
}

h2{
    font-size: 25px;
    font-weight: bold;
    padding-left: 10%;
}
footer{
    background-color: #949494;
    margin-top: 30px;
    padding: 10px;
}

.ul_fim{
    margin-left: 70px;
    padding: 5px;
    background-color: #686868;
    display: inline-block;
    border: 1px solid #000000 ;
}
footer p{
    text-align: center;
    padding-bottom: 10px;
}